@import "../../../styles/styles.scss";

.a-sectiontitle {
  &-container {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: yellow;
    width: 100%;
  }

  &-pusher {
    width: 65%;
  }

  &-contents {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: yellowgreen;
    margin: 0;

    p {
      color: black;
      margin: 0;
    }
    img {
      height: 25px;
    }
    &--sidebar {
      background-color: green;
      width: 6px;
      height: 30px;
    }
  }
}
