@import "../../../../styles/styles.scss";

//desktop

$card-witdth: 100vh;
$card-height: $card-witdth * 0.5;

//mobile

$card-witdthmb: 90vw;
$card-heightmb: $card-witdthmb * 0.5;

.a-projectcard {
  &-container {
    position: relative;
    bottom: 10%;
  }
  &-projectname {
    color: $dark-gray;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 5vw;
    padding-left: 10px;
    @include desktop {
      font-size: 20px;
    }
  }
  &-card {
    width: $card-witdthmb;
    height: $card-heightmb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);

    @include desktop {
      width: $card-witdth;
      height: $card-height;
    }

    img {
      width: $card-witdthmb;
      position: absolute;

      @include desktop {
        width: $card-witdth;
      }
    }
  }

  &-bg {
    background-color: $dark-gray;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  &-projectno {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 30px;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    @include desktop {
      font-size: 60px;
    }
  }

  &-description {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    flex-direction: column;

    p {
      width: 70%;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-align: justify;
      font-size: 9px;

      @include desktop {
        font-size: 15px;
      }
    }

    button {
      width: 180px;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      background: white;
      font-size: 15px;
      height: 25px;
      font-weight: 800;
      color: $dark-gray;
      font-family: "Poppins", sans-serif;
      margin: 5px 0;

      @include desktop {
        font-size: 25px;
        height: 30px;
        width: 150px;
        margin: 10px 0;
      }
    }

    button:hover {
      background: $highlight;
      height: 35px;
      font-size: 18px;
    }
  }

  &-description:after {
    content: "";
    position: absolute;
    left: 0;
    height: 70%;
    border-left: 2px solid white;
  }

  &-container:hover &-bg {
    transform: scaleX(10);
    opacity: 0.85;
  }

  &-container:hover &-description {
    visibility: visible;
  }
}
