@import "../../../styles/styles.scss";

.m-bodyfield {
  &-container {
    width: 100%;
  }
  &-body {
    display: flex;
    padding: 0 5%;
    min-height: 135px;
    flex-direction: row;
    margin: 10px 0;
  }
  &-description {
    width: 535px;
    max-width: 535px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
    box-sizing: border-box;
    p {
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 100%;
      font-size: 8px;
      margin: 10px 0;
      text-align: justify;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: $dark-gray;
    }
  }
}
