@import "../../../../styles/styles.scss";

.m-projects {
  &-container {
    align-items: center;
    background-color: $coconut;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
    padding-bottom: 40px;
    width: 100%;

    .carousel {
      height: 500px;
      .carousel-indicators {
        button {
          background-color: $dark-gray;
          height: 10px;
        }
      }
    }

    @include mobile {
      min-height: 50vh;
    }
  }
  &-title {
    align-items: center;
    box-sizing: border-box;
    color: $dark-gray;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 800;
    justify-content: flex-start;
    padding-left: 30px;
    position: relative;
    width: 100%;

    @include mobile {
      font-size: 8vw;
      height: 10%;
      justify-content: center;
      margin-top: 20px;
      padding: 0;
    }
  }

  &-list {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    width: 100%;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &-projectcards {
    align-items: center;
    display: flex;
    height: 80%;
    width: 100%;

    @include desktop {
      height: 100%;
    }
  }
}
