@import "../../../../styles/styles.scss";

.m-projects {
  &-container {
    align-items: center;
    background-color: $coconut;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    justify-content: center;
    margin: 0;
    padding-bottom: 40px;
    width: 100%;
  }
  &-title {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $dark-gray;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-left: 30px;
    position: relative;
    width: 100%;

    @include mobile {
      font-size: 8vw;
      height: 10%;
      justify-content: center;
      margin-top: 20px;
    }
  }

  &-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 30px;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &-projectcards {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;

    @include desktop {
      height: 100%;
    }
  }
}
