@import "../../../../styles/styles.scss";

$fieldtitle: 22px;

.a-overviewfield {
  &-container {
    max-width: 50%;
    width: 50%;
    margin-top: 1.5vh;
    z-index: 99;
    height: 65%;
    position: absolute;
    bottom: 0;
    padding-left: 2%;

    p {
      color: $titleBlue;
      font-family: "Khand", sans-serif;
      font-weight: 600;
      font-size: 1.5vh;
      margin: 1% 0;
      @include desktop {
        font-size: $fieldtitle;
      }
    }
  }
  &-description {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    width: 88%;

    p {
      margin: 0;
      color: $dark-gray;
      font-family: "Poppins", sans-serif;
      font-weight: 400 !important;
      font-size: 0.5vh;

      @include desktop {
        font-size: 1vh;
      }
    }
  }
}

@media print {
  .a-overviewfield-container p {
    font-size: $fieldtitle;
  }

  .a-overviewfield-description p {
    font-size: 1vh;
  }
}
