@import "../../../styles/styles.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: $dark-gray;
  margin: 0;
  position: static;
  left: 0;
  bottom: 0;
  height: 10vh;
}

.t-footer {
  &-copyright {
    p {
      margin: 0;
      color: white;
      text-align: center;
    }
  }
}
