@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

.react-calendar {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border: 1px solid white;
  border-radius: 8px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 800;
  line-height: 1.125em;
}

.react-calendar__navigation__label__labelText,
.react-calendar__tile {
  font-family: "Poppins", sans-serif !important;
  font-weight: 800;
}

.react-calendar__navigation button {
  color: #c70039;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  color: #c70039;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #c7003933;
  border-radius: 6px;
  font-weight: bold;
  color: #c70039;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c7003933;
  border-radius: 6px;
  font-weight: bold;
  color: #c70039;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

.react-calendar__tile--active {
  background: #c70039;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #c70039;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__tile--range {
  background: #f8f8fa;
  color: #c70039;
  border-radius: 0;
}

.react-calendar__tile--rangeStart {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #c70039;
  color: white;
}

.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #c70039;
  color: white;
}

/* Media Query */
@media screen and (max-width: 480px) {
  .react-calendar {
    width: 100%;
    border-radius: 0;
    border: none;
  }
}
