@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

//base colors

$coconut: #f9f9f9;
$containerBlue: #d5ebf5;
$dark-gray: #292929;
$dunkinorange: #f5821f;
$highlight: #a7a7a7;
$kkgreen: #00764f;
$kkred: #cc083e;
$magenta: #ff00ff;
$titleBlue: #243e66;

//sunset color palette

$sunset1: #ffc300;
$sunset2: #ff5733;
$sunset3: #c70039;
$sunset4: #900c3f;
$sunset5: #581845;

//breakpoints

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

//mixins

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
body {
  margin: 0;
  padding: 0;
}

//visibility-classes

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

.hide-on-desktop {
  @include desktop {
    display: none;
  }
}
