@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

//colors

$dark-gray: #292929;
$coconut: #f9f9f9;
$kkred: #cc083e;
$kkgreen: #00764f;
$dunkinorange: #f5821f;
$highlight: #a7a7a7;
$titleBlue: #243e66;
$containerBlue: #d5ebf5;

//breakpoints

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

//mixins

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
body {
  margin: 0;
  padding: 0;
}

//visibility-classes

.hide-on-mobile {
  @include mobile {
    display: none;
  }
}

.hide-on-desktop {
  @include desktop {
    display: none;
  }
}
