.m-unitDisplayer {
  &-container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    max-width: 250px;
    margin: 0 10px;
  }
}
