@import "../../../../styles/styles.scss";

.m-inputfields {
  &-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-accountinfo {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-veredict {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
