@import "../../../styles/styles.scss";
.p-reportTool {
  &-container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    position: relative;
    width: 100%;
  }

  &-header {
    background-color: $dark-gray;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 20px 30px 0 30px;
    position: relative;
    z-index: 1;

    a {
      color: $highlight;
      text-decoration: none;
      font-size: 18px !important;
    }

    a:hover {
      color: $containerBlue !important;
      font-size: 20px !important;
    }

    p,
    h1 {
      margin: 0;
    }

    &--fflogo {
      height: 600px;
      position: absolute;
      right: 30px;
      top: 0px;

      @include mobile {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        opacity: 0.2;
      }
    }

    &--title {
      font-size: 25px;

      @include mobile {
        font-size: 5.5vw;
        z-index: 5;
      }
    }

    &--slogan {
      font-weight: 300;
      position: relative;
    }

    &--guildselector {
      color: white;
      display: flex;
      flex-direction: column;

      select {
        margin-top: 5px;
        width: 18%;
        @include mobile {
          width: 100%;
          z-index: 5;
        }
      }
    }
  }

  &-previewbutton {
    align-items: center;
    background: $dark-gray;
    border: 2px solid $containerBlue;
    border-radius: 5px 5px 0 5px;
    bottom: 0;
    color: white;
    display: flex;
    height: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    justify-content: center;
    position: fixed;
    right: 0;
    text-align: center;
    width: 60px;
    z-index: 20;

    @include desktop {
      display: none;
    }

    span {
      font-size: 14px;
    }
  }

  &-headerextender {
    background-color: $dark-gray;
    height: 40%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  &-mainbody {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    z-index: 1;

    &--inputfields {
      align-items: center;
      background-color: $titleBlue;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      width: 25%;

      @include mobile {
        padding: 5% 0 10% 0;
      }

      @include tablet {
        margin: 0;
        width: 90%;
      }

      button {
        background-color: white;
        border: none;
        border-radius: 5px;
        border: 1px solid $titleBlue;
        cursor: pointer;
        font: inherit;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        height: 40px;
        outline: inherit;
        padding: 0;
        position: relative;
        width: 50%;
      }
      button:hover {
        background: white;
      }
    }

    &--reportpreview {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0;
      position: relative;
    }
  }

  &-disclaimer {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 30%;
    text-align: center;
    width: 100%;

    @include desktop {
      display: none;
    }
  }
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}
