@import "../../../../styles/styles.scss";

.m-intro {
  &-container {
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    &-videoslogan {
      display: flex;
      position: relative;
    }

    @include desktop {
      height: 100vh;
    }

    video {
      width: 150%;
      @include desktop {
        object-fit: fill;
      }
    }
  }
  &-shaderbg {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    @include desktop {
      height: 100vh;
    }

    img {
      width: 50%;
    }

    h1 {
      font-size: 15px;
      @include desktop {
        font-size: 30px;
        margin: 0;
      }
    }

    &--slogan1 {
      font-size: 15px;
      margin: 0;
      @include desktop {
        font-size: 30px;
      }
    }
    &--slogan2 {
      font-size: 20px;
      margin: 0;

      @include desktop {
        font-size: 80px;
      }
    }
  }
}
