@import "../../../styles/styles.scss";

.m-intro {
  &-container {
    width: 100%;
    position: relative;
    margin: 0;
    overflow-x: hidden;

    &-videoslogan {
      display: flex;
      position: relative;
    }

    video {
      width: 150%;
      @include desktop {
        width: 100%;
      }
    }
  }
  &-shaderbg {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: white;
    img {
      width: 50%;
    }

    h1 {
      font-size: 15px;
      @include desktop {
        margin: 0;
        font-size: 30px;
      }
    }

    &--slogan1 {
      font-size: 15px;
      margin: 0;
      @include desktop {
        font-size: 30px;
      }
    }
    &--slogan2 {
      font-size: 20px;
      margin: 0;

      @include desktop {
        font-size: 80px;
      }
    }
  }
}
