.p-index {
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-mainbody {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: aqua;

    &--inputfields {
      width: 50%;
      margin: 0;
    }

    &--reportpreview {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
