@import "../../../../styles/styles.scss";

// keeps responsive letter aspect ratio

$width: 90vw;
$heigth: 1.29 * $width;

$headerHeight: 10%;
$bodyHeight: 65%;
$footerHeight: 100% - $headerHeight - $bodyHeight;

.m-reportpdf {
  &-container {
    background-color: $coconut;
    width: $width;
    height: $heigth;
    overflow: hidden;
    position: relative;
    z-index: 0;

    @include desktop {
      width: 216mm;
      height: 279mm;
    }
  }
  &-boxbackground {
    width: 53%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;

    img {
      position: absolute;
      top: 0;
      left: -110%;
      height: 100%;
    }
    &--topgd {
      width: 100%;
      background: rgba(0, 0, 0);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 48%,
        rgba(0, 0, 0, 1) 69%,
        rgba(99, 33, 33, 0) 100%
      );
      opacity: 0.6;
      position: absolute;
      top: 0;
      height: 10%;
      z-index: 1;
    }
    &--bottomgd {
      width: 100%;
      background: rgb(249, 249, 249);
      background: linear-gradient(
        0deg,
        rgba(249, 249, 249, 1) 78%,
        rgba(249, 249, 249, 1) 87%,
        rgba(99, 33, 33, 0) 100%
      );
      height: 10%;
      position: absolute;
      bottom: 0;
      height: 18%;
    }
  }
  &-header {
    width: 100%;
    height: $headerHeight;
    margin: 0;
    display: flex;
    // background-color: aqua;
    position: absolute;
    top: 0;
    z-index: 5;
    padding: 0;
    align-items: center;
  }

  &-body {
    position: absolute;
    top: $headerHeight;
    height: $bodyHeight;
    width: 100%;
    // background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-footer {
    height: 20%;
  }
  &-overview {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: $headerHeight + $bodyHeight;
    height: $footerHeight;
    // background-color: yellow;
    width: 100%;

    &--radarchart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      height: 100%;
      // background-color: blue;
      position: relative;
    }

    &--veredict {
      display: flex;
      flex-direction: column;
      width: 50%;
      max-width: 50%;
    }
  }

  &-reviewer {
    // background-color: red;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media print {
  .m-reportpdf-container {
    width: 216mm;
    height: 279mm;
  }
}
