@import "../../../../styles/styles.scss";

// keeps responsive letter aspect ratio

$width: 90vw;
$heigth: 1.29 * $width;

.m-reportpdf {
  &-container {
    background-color: $coconut;
    width: $width;
    height: $heigth;
    overflow: hidden;
    position: relative;
    z-index: 0;

    @include desktop {
      width: 216mm;
      height: 279mm;
    }
  }
  &-boxbackground {
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  &-header {
    width: 100%;
    height: 5%;
    margin: 0;
    display: flex;

    z-index: 5;
    padding-left: 2%;
    align-items: center;
  }

  &-body {
    position: relative;

    height: 75%;
  }

  &-footer {
    height: 20%;
  }
  &-overview {
    display: flex;
    flex-direction: row;

    &--radarchart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      height: 5%;
    }

    &--veredict {
      display: flex;
      flex-direction: column;
      width: 65%;
      max-width: 65%;
      justify-content: center;
      margin-left: 5%;
    }
  }
}

@media print {
  .m-reportpdf-container {
    width: 216mm;
    height: 279mm;
  }
}
