@import "../../../../styles/styles.scss";

.a-maxedstats {
  &-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2.5%;
    width: 17%;
    border-radius: 5px;
    border: 1px solid $titleBlue;
    box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
    background-color: $containerBlue;
    p {
      font-family: "Poppins", sans-serif;
      color: $dark-gray;
    }
  }

  &-amount {
    font-weight: 800;
    font-size: clamp(15px, 4.5vw, 50px);
    margin: 0 0 -10% 0;
    color: $titleBlue !important;

    @include desktop {
      font-size: 50px;
    }
  }
  &-category {
    font-weight: 600;
    margin: 0;
    font-size: clamp(8px, 2.5vw, 20px);
    font-family: "Khand", sans-serif !important;
    @include desktop {
      font-size: 20px;
    }
  }
  &-veredict {
    font-weight: 800;
    margin: 0;
    font-size: clamp(6px, 2vw, 19px);
    margin-top: -4%;
    @include desktop {
      font-size: 19px;
    }
  }
}

@media print {
  .a-maxedstats-amount {
    font-size: 50px;
  }

  .a-maxedstats-category {
    font-size: 20px;
  }

  .a-maxedstats-veredict {
    font-size: 19px;
  }
}
