@import "../../../../styles/styles.scss";

.a-maxedstats {
  &-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 2.5%;
    width: 17%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px rgba(68, 68, 68, 0.3);
    p {
      font-family: "Poppins", sans-serif;
      color: $dark-gray;
    }
  }

  &-amount {
    font-weight: 800;
    font-size: 3.2vh;
    margin: 0 0 -0.8vh 0;
    color: white !important;

    @include desktop {
      font-size: 50px;
      margin: 0 0 -1.5vh 0;
    }
  }
  &-category {
    font-weight: 400;
    margin: 0;
    font-size: 1vh;
    @include desktop {
      font-size: 16px;
    }
  }
  &-veredict {
    font-weight: 800;
    margin: 0;
    font-size: 1vh;
    margin-bottom: 0.5vh;
    @include desktop {
      font-size: 16px;
      margin-bottom: 1vh;
    }
  }
}

@media print {
  .a-maxedstats-amount {
    font-size: 5vh;
    margin: 0 0 -1.5vh 0;
  }

  .a-maxedstats-category {
    font-size: 1.5vh;
  }

  .a-maxedstats-veredict {
    font-size: 1.5vh;
    margin-bottom: 1vh;
  }
}
