@import "../../../styles/styles.scss";

.m-reportpdf {
  &-container {
    background-color: $coconut;
    width: 216mm;
    height: 279mm;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }
  &-boxbackground {
    width: 35%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    background-color: $kkred;
  }
  &-header {
    width: 100%;
    height: 7%;
    margin: 0;
    display: flex;
    overflow: hidden;
    z-index: 5;
    padding-left: 100px;
    align-items: center;
  }

  &-body {
    position: relative;
    bottom: 20px;
  }

  &-overview {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    &--radarchart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35%;
      height: 5%;
      background-color: $kkred;
    }

    &--veredict {
      display: flex;
      flex-direction: column;
      width: 65%;
      max-width: 65%;
      justify-content: center;
      margin-left: 25px;
      position: relative;
      bottom: 20px;
    }
  }
}
