@import "../../../../styles/styles.scss";

$fieldtitle: 22px;

.a-radarchart {
  &-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &-title {
    color: $titleBlue;
    font-family: "Khand", sans-serif;
    font-weight: 600;
    font-size: clamp(8px, 2.2vw, $fieldtitle);
    position: absolute;
    right: -30%;
    top: 8%;

    @include desktop {
      font-size: $fieldtitle;
    }
  }
}

@media print {
  .a-radarchart-title {
    font-size: $fieldtitle;
  }
}
