@import "../../../../styles/styles.scss";

.p-unitPlanner {
  &-container {
    align-items: center;
    background-color: $coconut;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
}
